body{
    background-image: url('../img/paul-szewczyk-DxKMiUXirxg-unsplash.jpg');
    background-size: cover;
    min-height: 100vh;
}

.selectpicker{
    width:90%;
    height:30px;
    background: rgba(255, 255,255, .3);
}
.btn{
    background: rgba(255, 255,255, .3);
    color: #111 ;
    border: #111;
}

.row{
    padding: 10px;
    margin-bottom: 20px;
    
}
.table{
    background: rgba(255, 255,255, .3);
    
}
.table tr{
    height:10px;
}
.col-md-6 , .col-md-3, .col-md-4, .col-md-2{
    margin: 15px auto;
    
}

.img_inline, .info_row{
    text-align:center;

}
.card-img{
    height:200px;
    width:90%;
    border-radius:5%;
    margin: auto;
    display: block;
    padding: 5px;
    
}

.flag_image{
    width: 20px;
    height: 10px;
}
b{
    color:red;
}
