.selectpicker{
    width:90%;
    height:30px;
}


.row{
    padding: 10px;
    margin-bottom: 20px;
}

.col-md-6 , .col-md-3, .col-md-2{
    padding: 10px;
    margin: 10px;
}

.img_inline{
    text-align:center;

}
.card-img{
    height:200px;
    width:90%;
    border-radius:5%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    
}
